body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* 背景色を白色に設定 */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* ビューポートの高さを100%に設定 */
}

img {
    max-width: 90%; /* 画像が画面の90%を超えないように設定 */
    height: auto; /* 高さは自動調整 */
}

#warningMessage, #infoMessage, #titleMessage {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: black; /* メッセージの色を黒に設定 */
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
}

#titleMessage {
    top: 30%; /* タイトルの位置を上に移動 */
}

#infoMessage {
    top: 50%; /* インフォメーションメッセージの位置 */
}

#warningMessage {
    top: 60%; /* 警告メッセージの位置 */
}

#version {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: gray;
    font-size: 12px;
}

#bgmControl {
    position: fixed;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
